<html>
<h1>Hello, USER!</h1>
<p>This is the user section index page. <a href="/admin_side">Go to admin</a></p>


<div>
    <a href="{% url 'index' %}">All</a>
    {% for cat in categories %}
        <a href="{% url 'index' %}?category={{ cat.id }}">{{ cat.name }}</a>
    {% endfor %}
</div>

{% for product in products %}
    <div>
        <img src="{{ product.image.url }}" alt="{{ product.Title }}" width="200" height="200">
        <h3>{{ product.Title }}</h3>
        <p>₹{{ product.amount }}</p>
        <p>{{ product.category.name }}</p>
        <a href="{% url 'enquiry_form' product.id %}">Enquiry</a>
    </div>
{% endfor %}



</html>