<!DOCTYPE html>
<html>
<body>

<h2>Add Product</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="Title" placeholder="Title">
    <input type="number" name="amount" step="0.01">
    <input type="file" name="image">

    <label>Category</label>
<select name="category" required>
    {% for cat in categories %}
        <option value="{{ cat.id }}" {% if product.category_id == cat.id %}selected{% endif %}>
            {{ cat.name }}
        </option>
    {% endfor %}
</select>

    <button type="submit">Save</button>
</form>

<br>
<br>
<br>


<a href="{% url 'admin' %}">Home</a>

</body>
</html>

