<!DOCTYPE html>
<html>

<head>
    <title>Products</title>
</head>

<body>

    <h1>Hello, Admin!</h1>

    <a href="{% url 'add_product' %}">
        <button>Add Product</button>
    </a>

    <hr>
    {% for product in products %}
    <p>
        {{ product.Title }} - ₹{{ product.amount }}

        <a href="{% url 'edit_product' product.id %}">
            <button>Edit</button>
        </a>

        <a href="{% url 'delete_product' product.id %}">
            <button>Delete</button>
        </a>
    </p>
    {% empty %}
    <p>No products found.</p>
    {% endfor %}

    <br>
    <br>

    <a href="{% url 'category_list' %}">Manage Categories</a>

    <br>
    <br>



    <a href="{% url 'admin_change_password' %}">Change Password</a>

    <br>
    <br>


    <form method="post" action="{% url 'admin_logout' %}">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>

</body>

</html>